:root {
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
}
body {
  background-color: var(--white);
  color: var(--slate);
}
/* класс чтобы убрать в списках марикровку */
.list {
  list-style: none;
}

/* Site nav */
.logo-web {
  color: var(--iris);
}

.site-nav .link {
  color: var(--navy-blue);
}

.header-contacts .link {
  color: var(--slate);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--iris);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--iris);
}
/* Section first*/

.section.block {
  background-color: var(--navy-blue);
}
.mein-title {
  color: var(--white);
}

/* Макет для кнопок два вида, order, normal и activ */

.button {
  color: var(--iris);
  background-color: var(--cornflower);
}
.button:hover {
  color: var(--white);
  background-color: var(--iris);
}
.button.order {
  color: var(--white);
  background-color: var(--iris);
}
.button.order:hover,
.button.order:focus {
  color: var(--iris);
  background-color: var(--white);
}

/* Пропишем цвет всех заголовков в секциях*/
.section .title {
  color: var(--navy-blue);
}

/* footer */

.footer {
  background-color: var(--navy-blue);
}
.footer .link {
  color: var(--cloud);
}
.footer .link:hover,
.footer .link:focus {
  color: var(--iris);
}

.footer .text {
  color: var(--cornflower);
}

/*Страница  portfolio */

.link.current {
  color: var(--iris);
}
/* Основной цвет текста NAVY BLUE:#2E2F42 */
/* Цвет текста белый #FFFFFF */
/* акцент IRIS #4D5AE5 */
/* Цвет основного текста SLATE #434455 */
/* Цвет текста футера CORNFLOWER #E7E9FC */
/* цвет тени кнопки box-shadow rgba(0, 0, 0, 0.15) */
/* фон кнопок и блоков портфолио  и секции  OUT TEAM CLOUD #F4F4FD */
/* Тень футера 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08) */
